
.initialsAvatar {
  height: 80px !important;
  width: 80px !important;
  border-radius: 50% !important;
}


.smallAvatar {
  border-radius: 5px !important;
}

.bigAvatar {
  height: 80px !important;
  width: 80px !important;
  border-radius: 5px !important;
}

.biggerAvatar {
  height: 160px !important;
  width: 160px !important;
  border-radius: 25% !important;
}


#content {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  padding: 0.5em;
  color: whitesmoke;
  margin:0;
}
